* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
}
.banner-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(#ffffff, #e3edfd);
}

.banner-image {
  position: absolute;
  right: 0;
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
}
